.App {
    width: 400px;
    height: 430px;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid royalblue;
    border-radius: 20px;
    display: inline-block;
    margin: 10px
}

.x {
    background-color: dimgrey;
}

.a {
    -webkit-appearance: button;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    background-color: royalblue;
    border-width: 0px;
    text-decoration-color: black;
}

.text {

    font-weight: 500;

}

.button1 {
    grid-area: b1;
   /* position: relative;*/
    margin-left: 25%;
    margin-top: 25%;

}

.button2 {
    grid-area: b2;
    /*position: relative;*/
    margin-left: 30%;
    margin-top: 25%;
}

.buttons {
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;

    width: 350px;
    height: 30%;
    /*position: relative;*/
    margin-top: 5%;
    border: 3px solid royalblue;
    display: grid;
    grid-template-areas:
"b1 b2";

}
.classError{
    color: red;
    font-size: 30px;
    position: relative;
    margin-top: 25%;
    margin-left: 35%;
}